    <footer>
         <ul>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
         </ul>
         <p>Created by <a href="#">Algorithms in Flight</a></p>
    </footer>